<div style="margin-top:35px">
	<h1>Kundenliste</h1>
	<table class="table table-hover">
		<% @users.each do |user|%>
		<tr>
			<td><%=user.email%></td>
			<td><%=link_to "User Bearbeiten", edit_user_path(user.id), class: "btn btn-primary" %></td>
		</tr>
		<%end%>
	</table>
</div>