<h2>eCommerce</h2>


<div id="show_all_categories" style="position:fixed;margin-left:0%">
	<%=render 'show_all_categories' %>
</div>

<div id="show_all_users" style="position:absolute;margin-left:20%">
	<%=render 'show_all_products' %>
</div>

